<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings>
        	
<add name="BDLocal" connectionString="data source=DESKTOP-7J94DVR;Initial Catalog=IntrumentacionDidactica_TESCHI;Persist Security Info=True;User ID=sa; Password=Astaroth12" providerName="System.Data.SqlClient" />

</connectionStrings>
	
</configuration>